page-pineapple-tarts {
.range-md {
    padding: 0px 20px;

    .range-slider {
        height: 40px;
    }
}
.ingredients {
    color: white;
}
.red {
    color: red;
}

.green {
    color: green;
}

}
.range-md {
    .range-bar {
        background: #ff6666;
    }
    .range-bar-active {
        background: #990000;
    }
    .range-knob {
        background: #000000;
    }
}

.toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
