page-pineapple-tarts {
.ion-label {
    font-size: 20px;
}
.range-md {
    padding: 0px 20px;

    .range-slider {
        height: 40px;
    }
}

h5 {
    margin-top : 1rem;
    margin-bottom: 0.5rem;
}

ion-col {
    padding: 0px;
}
.ingredients {
    color: white;
}
.red {
    color: red;
}

.green {
    color: green;
}

}
.range-md {
    .range-bar {
        background: #ff6666;
    }
    .range-bar-active {
        background: #990000;
    }
    .range-knob {
        background: #fff;
    }
}

.toolbar {
    .toolbar-background {
      background: transparent;
    }
  }

  .button-md {
    background-color: #f57138;
  }

  .content-md {
    color: #fff;
  }


