@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

ion-content{
    background-image: url("../assets/img/bbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.heading{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 1em;
}

.search{
    width:95%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Nav{
    font-family: 'Futura', Arial, sans-serif;
    font-weight: 700;
    color: #670C07;
    font-size: 30px;
}

page-home {
.searchbar-md .searchbar-input {
    border-radius: 20px;
}

.card-md {
    border-radius: 20px;
}

.food-card {
    border-radius: 2px;
    position: relative;
    text-align: center;
    width:95%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: -5px;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }


.smalltext {
    text-align:right;
    padding: 0px 20px;
}

ion-grid {
    padding: 0px;
}
ion-col {
    padding: 0px;
}

.DDL1, .DDL2{
    width:90%;
    margin-right:auto;
    margin-left:auto;
}

.DDL1{
    margin-top: 15px;
}

.DDL2{
    margin-bottom:20px;
    margin-top: 15px;
}

.button1{
    font-family: 'Futura', Arial, sans-serif;
    font-weight: 700;
    color: #670C07;
    font-size: 22px;
    width: 95%;
    margin-left: 5px;
    text-align: center;
    background-color: #965758; 
    color: white;
    border-radius: 10px;
}

#Popular{
    color: #C48A8A;
}

#GV2{
    display:none;
}

}

.alert-md .alert-wrapper {
    background-color: #ff9966;
    color: #600000;
}
